#### ìœ íŠœë¸Œ ì¸ê¸°ë™ì˜ìƒ ë°ì´í„°

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [ ]:
# ì¸ê¸°ë™ì˜ìƒ ì œì‘íšŸìˆ˜ê°€ ë§ì€ ì±„ë„ ìƒìœ„ 10ê°œëª…ì„ ì¶œë ¥í•˜ë¼ (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)
answer = list(df.loc[df.channelId.isin(df.channelId.value_counts().head(10).index)].channelTitle.unique())
print(answer)

['ì¥ì‚ì­ˆ', 'ì´ëª‡ëª…', 'íŒŒë¿Œë¦¬', 'ì§¤íˆ°', 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„', 'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„', 'SPOTV', 'ì±„ë„ ì‹­ì˜¤ì•¼', 'ì´ê³¼ì¥', 'BANGTANTV']

In [ ]:
# ë…¼ë€ìœ¼ë¡œ ì¸ê¸°ë™ì˜ìƒì´ ëœ ì¼€ì´ìŠ¤ë¥¼ í™•ì¸í•˜ê³  ì‹¶ë‹¤. dislikesìˆ˜ê°€ like ìˆ˜ë³´ë‹¤ ë†’ì€ ë™ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼
answer = list(df.loc[df.likes < df.dislikes].channelTitle.unique())
print(answer)

['í•«ë„ê·¸TV', 'ASMR ì• ì •TV', 'í•˜ì–€íŠ¸ë¦¬HayanTree', 'ì–‘íŒ¡ YangPang', 'ì² êµ¬í˜• (CHULTUBE)', 'ì™œëƒë§¨í•˜ìš°ìŠ¤', '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€', 'ì˜¤ë©”í‚´TV', 'ìœ¡ì§€ë‹´', 'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ', 'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO', 'Gen.G esports']

In [ ]:
# ì±„ë„ëª…ì„ ë°”ê¾¼ ì¼€ì´ìŠ¤ê°€ ìˆëŠ”ì§€ í™•ì¸í•˜ê³  ì‹¶ë‹¤. channelIdì˜ ê²½ìš° ê³ ìœ ê°’ì´ë¯€ë¡œ ì´ë¥¼ í†µí•´ ì±„ë„ëª…ì„ í•œë²ˆì´ë¼ë„ ë°”ê¾¼ ì±„ë„ì˜ ê°¯ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼
cond = df[['channelId', 'channelTitle']].drop_duplicates().channelId.value_counts()
print(len(cond[cond > 1]))

71

In [ ]:
# ì¼ìš”ì¼ì— ì¸ê¸°ìˆì—ˆë˜ ì˜ìƒë“¤ì¤‘ ê°€ì¥ë§ì€ ì˜ìƒ ì¢…ë¥˜(categoryId)ëŠ” ë¬´ì—‡ì¸ê°€?
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
answer = df.loc[df['trending_date2'].dt.day_name() == 'Sunday'].categoryId.value_counts().index[0]
print(answer)

24

In [ ]:
# ê° ìš”ì¼ë³„ ì¸ê¸° ì˜ìƒë“¤ì˜ categoryIdëŠ” ê°ê° ëª‡ê°œ ì”©ì¸ì§€ í•˜ë‚˜ì˜ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼

In [ ]:
# ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤. viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë†’ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_countê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

In [ ]:
# ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤.viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë‚®ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_counts, ratioê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤.)

In [ ]:
# like ëŒ€ë¹„ dislikeì˜ ìˆ˜ê°€ ê°€ì¥ ì ì€ ì˜ìƒì€ ë¬´ì—‡ì¸ê°€? (like, dislike ê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)
cond = df.loc[(df.likes != 0) & (df.dislikes != 0)]
cond2 = (cond['dislikes'] / cond['likes']).sort_values().index[0]
answer = df.loc[cond2,'title']
print(answer)

[ì¤Œí„°ë·°] *ìµœì´ˆê³µê°œ* ì‚¬ë¶€ì‘ì¦ˆğŸ°ğŸ¶ì˜ ë¹„ê³µì‹ ì´ë¦„ì€ ì•„ì´ë¼ì¸ì¦ˆ? ê¿€ì¡°í•© í‹°í‚¤íƒ€ì¹´ ê°€ë“í•œ NCT 127 ë„ì˜&ì •ìš°ì˜ ì¤Œí„°ë·°

In [ ]:
# ê°€ì¥ë§ì€ íŠ¸ë Œë“œ ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì˜ ì´ë¦„ì€ ë¬´ì—‡ì¸ê°€? (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)

In [ ]:
# 20íšŒ(20ì¼)ì´ìƒ ì¸ê¸°ë™ì˜ìƒ ë¦¬ìŠ¤íŠ¸ì— í¬í•¨ëœ ë™ì˜ìƒì˜ ìˆ«ìëŠ”?

#### ì„œìš¸ì‹œ ë”°ë¦‰ì´ ì´ìš©ì •ë³´ ë°ì´í„°

In [ ]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')
df.head()

         ëŒ€ì—¬ì¼ì  ëŒ€ì—¬ì‹œê°„  ëŒ€ì—¬ì†Œë²ˆí˜¸ ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ ì„±ë³„ ì—°ë ¹ëŒ€ì½”ë“œ  ì´ìš©ê±´ìˆ˜    ìš´ë™ëŸ‰   íƒ„ì†ŒëŸ‰     ì´ë™ê±°ë¦¬  ì‚¬ìš©ì‹œê°„
0  2021-06-01     0   3541    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  13.04  0.17   731.55     6

In [ ]:
# ëŒ€ì—¬ì¼ìë³„ ë°ì´í„°ì˜ ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ê³ , ê°€ì¥ ë§ì€ ë°ì´í„°ê°€ ìˆëŠ” ë‚ ì§œë¥¼ ì¶œë ¥í•˜ë¼
result = df['ëŒ€ì—¬ì¼ì'].value_counts().sort_index().to_frame()
answer = result[result['ëŒ€ì—¬ì¼ì'] == result['ëŒ€ì—¬ì¼ì'].max()].index[0]
display(result)
print(answer)

             ëŒ€ì—¬ì¼ì
2021-06-01  48081
2021-06-02  56100
2021-06-03  18985
2021-06-04  56788
2021-06-05  52730
2021-06-06  47787
2021-06-07  52623
2021-06-08  55623
2021-06-09  54507
2021-06-10  36992
2021-06-11  52089
2021-06-12  48569
2021-06-13  43131
2021-06-14  54945

2021-06-04

In [ ]:
# ê° ì¼ìì˜ ìš”ì¼ì„ í‘œê¸°í•˜ê³  (â€˜Mondayâ€™ ~â€™Sundayâ€™) â€˜day_nameâ€™ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ê³  ì´ë¥¼ ì´ìš©í•˜ì—¬ ê° ìš”ì¼ë³„ ì´ìš© íšŸìˆ˜ì˜ ì´í•©ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼
df['ëŒ€ì—¬ì¼ì'] = pd.to_datetime(df['ëŒ€ì—¬ì¼ì'])
df['day_name'] = df['ëŒ€ì—¬ì¼ì'].dt.day_name()

result = df['day_name'].value_counts().to_frame()
display(result)

           day_name
Wednesday    110607
Friday       108877
Monday       107568
Tuesday      103704
Saturday     101299
Sunday        90918
Thursday      55977

In [ ]:
# ê° ìš”ì¼ë³„ ê°€ì¥ ë§ì´ ì´ìš©í•œ ëŒ€ì—¬ì†Œì˜ ì´ìš©íšŸìˆ˜ì™€ ëŒ€ì—¬ì†Œ ë²ˆí˜¸ë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼
result = df.groupby(['day_name', 'ëŒ€ì—¬ì†Œë²ˆí˜¸']).size().to_frame('size').sort_values(['day_name','size'],ascending=False).reset_index()
answer = result.drop_duplicates('day_name',keep='first').reset_index(drop=True)
display(answer)

    day_name  ëŒ€ì—¬ì†Œë²ˆí˜¸  size
0  Wednesday    502   282
1    Tuesday    502   267
2   Thursday   2715   137
3     Sunday    502   372
4   Saturday    502   378
5     Monday    502   242
6     Friday    502   277

In [ ]:
# ë‚˜ì´ëŒ€ë³„ ëŒ€ì—¬êµ¬ë¶„ ì½”ë“œì˜ (ì¼ì¼ê¶Œ/ì „ì²´íšŸìˆ˜) ë¹„ìœ¨ì„ êµ¬í•œ í›„ ê°€ì¥ ë†’ì€ ë¹„ìœ¨ì„ ê°€ì§€ëŠ” ë‚˜ì´ëŒ€ë¥¼ í™•ì¸í•˜ë¼. ì¼ì¼ê¶Œì˜ ê²½ìš° ì¼ì¼ê¶Œ ê³¼ ì¼ì¼ê¶Œ(ë¹„íšŒì›)ì„ ëª¨ë‘ í¬í•¨í•˜ë¼
daily = df[df['ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ'].isin(['ì¼ì¼ê¶Œ','ì¼ì¼ê¶Œ(ë¹„íšŒì›)'])]['ì—°ë ¹ëŒ€ì½”ë“œ'].value_counts().sort_index()
total = df['ì—°ë ¹ëŒ€ì½”ë“œ'].value_counts().sort_index()
ratio = (daily / total).sort_values(ascending = False)

print(ratio)
print('Max Ratio', ratio.index[0])

~10ëŒ€    0.312525
20ëŒ€     0.239913
30ëŒ€     0.166702
40ëŒ€     0.110585
50ëŒ€     0.065414
70ëŒ€~    0.048962
60ëŒ€     0.042462
Name: ì—°ë ¹ëŒ€ì½”ë“œ, dtype: float64
Max Ratio ~10ëŒ€

In [ ]:
# ì—°ë ¹ëŒ€ë³„ í‰ê·  ì´ë™ê±°ë¦¬ë¥¼ êµ¬í•˜ì—¬ë¼
result = df.groupby('ì—°ë ¹ëŒ€ì½”ë“œ')['ì´ë™ê±°ë¦¬'].mean()
print(result)

ì—°ë ¹ëŒ€ì½”ë“œ
20ëŒ€     3211.890552
30ëŒ€     3341.443859
40ëŒ€     3514.857416
50ëŒ€     3593.668100
60ëŒ€     3538.145737
70ëŒ€~    3085.039641
~10ëŒ€    2634.426279
Name: ì´ë™ê±°ë¦¬, dtype: float64

In [ ]:
# ì—°ë ¹ëŒ€ ì½”ë“œê°€ 20ëŒ€ì¸ ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ê³ ,ì´ë™ê±°ë¦¬ê°’ì´ ì¶”ì¶œí•œ ë°ì´í„°ì˜ ì´ë™ê±°ë¦¬ê°’ì˜ í‰ê·  ì´ìƒì¸ ë°ì´í„°ë¥¼ ì¶”ì¶œí•œë‹¤.ìµœì¢… ì¶”ì¶œëœ ë°ì´í„°ë¥¼ ëŒ€ì—¬ì¼ì, ëŒ€ì—¬ì†Œ ë²ˆí˜¸ ìˆœì„œë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ í›„ 1í–‰ë¶€í„° 200í–‰ê¹Œì§€ì˜ íƒ„ì†ŒëŸ‰ì˜ í‰ê· ì„ ì†Œìˆ«ì  3ì§¸ ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼

In [ ]:
# 6ì›” 7ì¼ ~10ëŒ€ì˜ â€œì´ìš©ê±´ìˆ˜â€ì˜ ì¤‘ì•™ê°’ì€?
cond = (df['ëŒ€ì—¬ì¼ì'] == '2021-06-07') & (df['ì—°ë ¹ëŒ€ì½”ë“œ'] == '~10ëŒ€')
result = df[cond]['ì´ìš©ê±´ìˆ˜'].median()
print(result)

1.0

In [ ]:
# ì´ë™ê±°ë¦¬ì˜ í‰ê·  ì´ìƒì˜ ì´ë™ê±°ë¦¬ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ì—¬ ì¶”ì¶œë°ì´í„°ì˜ ì´ë™ê±°ë¦¬ì˜ í‘œë³¸í‘œì¤€í¸ì°¨ ê°’ì„ êµ¬í•˜ì—¬ë¼
mean = df['ì´ë™ê±°ë¦¬'].mean()
result = df[df['ì´ë™ê±°ë¦¬'] >= mean]['ì´ë™ê±°ë¦¬'].std()
print(result)

5092.139707505356

In [ ]:
# ë‚¨ì„±(â€˜Mâ€™ or â€˜mâ€™)ê³¼ ì—¬ì„±(â€˜Fâ€™ or â€˜fâ€™)ì˜ ì´ë™ê±°ë¦¬ê°’ì˜ í‰ê· ê°’ì„ êµ¬í•˜ì—¬ë¼
cond1 = df['ì„±ë³„'].isin(['M','m'])
cond2 = df['ì„±ë³„'].isin(['F','f'])

mean1 = df[cond1]['ì´ë™ê±°ë¦¬'].mean()
mean2 = df[cond2]['ì´ë™ê±°ë¦¬'].mean()
print('ë‚¨ì„±ì˜ ì´ë™ê±°ë¦¬ í‰ê· : ', mean1, 'ì—¬ì„±ì˜ ì´ë™ê±°ë¦¬ í‰ê· : ', mean2)

ë‚¨ì„±ì˜ ì´ë™ê±°ë¦¬ í‰ê· :  3209.1108714530546 ì—¬ì„±ì˜ ì´ë™ê±°ë¦¬ í‰ê· :  3468.5750252981957

#### ì „ì„¸ê³„ í–‰ë³µë„ ì§€í‘œ ë°ì´í„°

In [ ]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
df.head()

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [ ]:
# ë°ì´í„°ëŠ” 2018ë…„ë„ì™€ 2019ë…„ë„ì˜ ì „ì„¸ê³„ í–‰ë³µ ì§€ìˆ˜ë¥¼ í‘œí˜„í•œë‹¤. ê°ë…„ë„ì˜ í–‰ë³µë­í‚¹ 10ìœ„ë¥¼ ì°¨ì§€í•œ ë‚˜ë¼ì˜ í–‰ë³µì ìˆ˜ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼
result = df[df['í–‰ë³µë­í‚¹'] == 10]['ì ìˆ˜'].mean()
print(result)

7.259

In [ ]:
# ë°ì´í„°ëŠ” 2018ë…„ë„ì™€ 2019ë…„ë„ì˜ ì „ì„¸ê³„ í–‰ë³µ ì§€ìˆ˜ë¥¼ í‘œí˜„í•œë‹¤. ê°ë…„ë„ì˜ í–‰ë³µë­í‚¹ 50ìœ„ì´ë‚´ì˜ ë‚˜ë¼ë“¤ì˜ ê°ê°ì˜ í–‰ë³µì ìˆ˜ í‰ê· ì„ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ í‘œì‹œí•˜ë¼
result = df[df['í–‰ë³µë­í‚¹'] <= 50][['ë…„ë„','ì ìˆ˜']].groupby('ë…„ë„').mean()
print(result)

           ì ìˆ˜
ë…„ë„
2018  6.64678
2019  6.67002

In [ ]:
# 2018ë…„ë„ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí•˜ì—¬ í–‰ë³µì ìˆ˜ì™€ ë¶€íŒ¨ì— ëŒ€í•œ ì¸ì‹ì— ëŒ€í•œ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼
result = df[df['ë…„ë„'] == 2018][['ì ìˆ˜','ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹']].corr().iloc[0,1]
print(result)

0.40529152271510027

In [ ]:
# 2018ë…„ë„ì™€ 2019ë…„ë„ì˜ í–‰ë³µë­í‚¹ì´ ë³€í™”í•˜ì§€ ì•Šì€ ë‚˜ë¼ëª…ì˜ ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼
len(df[['í–‰ë³µë­í‚¹', 'ë‚˜ë¼ëª…']]) - len(df[['í–‰ë³µë­í‚¹', 'ë‚˜ë¼ëª…']].drop_duplicates())

15

In [ ]:
# 2019ë…„ë„ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí•˜ì—¬ ê°ë³€ìˆ˜ê°„ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•˜ê³  ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•œ í›„ ìƒìœ„ 5ê°œë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼. ì»¬ëŸ¼ëª…ì€ v1,v2,corrìœ¼ë¡œ í‘œì‹œí•˜ë¼
corr = df[df['ë…„ë„'] == 2019].drop('ë…„ë„',axis=1).corr().unstack().to_frame().reset_index()
result = corr[corr[0] != 1].sort_values(0,ascending=False).drop_duplicates(0)
answer =result.head(5).reset_index(drop=True)
answer.columns=['v1','v2','corr']
print(answer)

      v1     v2      corr
0  í–‰ë³µê¸°ëŒ€ì¹˜  ìƒëŒ€GDP  0.835462
1  ìƒëŒ€GDP     ì ìˆ˜  0.793883
2  í–‰ë³µê¸°ëŒ€ì¹˜     ì ìˆ˜  0.779883
3  ì‚¬íšŒì ì§€ì›     ì ìˆ˜  0.777058
4  ì‚¬íšŒì ì§€ì›  ìƒëŒ€GDP  0.754906

In [ ]:
# ê° ë…„ë„ë³„ í•˜ìœ„ í–‰ë³µì ìˆ˜ì˜ í•˜ìœ„ 5ê°œ êµ­ê°€ì˜ í‰ê·  í–‰ë³µì ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

3.1604

In [ ]:
# 2019ë…„ ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ê³  í•´ë‹¹ë°ì´í„°ì˜ ìƒëŒ€ GDP í‰ê·  ì´ìƒì˜ ë‚˜ë¼ë“¤ê³¼ í‰ê·  ì´í•˜ì˜ ë‚˜ë¼ë“¤ì˜ í–‰ë³µì ìˆ˜ í‰ê· ì„ ê°ê° êµ¬í•˜ê³  ê·¸ ì°¨ì´ê°’ì„ ì¶œë ¥í•˜ë¼
mean = df[df['ë…„ë„'] == 2019]['ìƒëŒ€GDP'].mean()
up = df[(df['ë…„ë„'] == 2019) & (df['ìƒëŒ€GDP'] >= mean)]['ìƒëŒ€GDP'].mean()
down = df[(df['ë…„ë„'] == 2019) & (df['ìƒëŒ€GDP'] <= mean)]['ìƒëŒ€GDP'].mean()
print(up-down)

0.6765307486631016

In [ ]:
# ê°ë…„ë„ì˜ ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹ì„ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í–ˆì„ë•Œ ìƒìœ„ 20ê°œ êµ­ê°€ì˜ ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼
answer = df.sort_values(['ë…„ë„','ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹'],ascending=False).groupby('ë…„ë„').head(20).groupby('ë…„ë„')['ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹'].mean()
print(answer)

ë…„ë„
2018    0.3267
2019    0.3201
Name: ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹, dtype: float64

In [ ]:
# 2018ë…„ë„ í–‰ë³µë­í‚¹ 50ìœ„ ì´ë‚´ì— í¬í•¨ëë‹¤ê°€ 2019ë…„ 50ìœ„ ë°–ìœ¼ë¡œ ë°€ë ¤ë‚œ êµ­ê°€ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼
result = set(df[(df['ë…„ë„'] == 2018) & (df['í–‰ë³µë­í‚¹']<=50)]['ë‚˜ë¼ëª…']) - set(df[(df['ë…„ë„'] == 2019) & (df['í–‰ë³µë­í‚¹']<=50)]['ë‚˜ë¼ëª…'])
print(len(result))

4

In [ ]:
# 2018ë…„,2019ë…„ ëª¨ë‘ ê¸°ë¡ì´ ìˆëŠ” ë‚˜ë¼ë“¤ ì¤‘ ë…„ë„ë³„ í–‰ë³µì ìˆ˜ê°€ ê°€ì¥ ì¦ê°€í•œ ë‚˜ë¼ì™€ ê·¸ ì¦ê°€ ìˆ˜ì¹˜ëŠ”?

#### ì§€ì—­êµ¬ ì—ë„ˆì§€ ì†Œë¹„ëŸ‰ ë°ì´í„°

In [ ]:
import pandas as pd
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv')
df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

In [ ]:
# DateTimeì»¬ëŸ¼ì„ í†µí•´ ê° ì›”ë³„ë¡œ ëª‡ê°œì˜ ë°ì´í„°ê°€ ìˆëŠ”ì§€ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ êµ¬í•˜ì—¬ë¼
df['DateTime'] = pd.to_datetime(df['DateTime'])
result = df['DateTime'].dt.month.value_counts().sort_index().to_frame()
print(result)

    DateTime
1       4464
2       4032
3       4464
4       4320
5       4464
6       4320
7       4464
8       4464
9       4320
10      4464
11      4320
12      4320

In [ ]:
# 3ì›”ë‹¬ì˜ ê° ì‹œê°„ëŒ€ë³„ ì˜¨ë„ì˜ í‰ê· ë“¤ ì¤‘ ê°€ì¥ ë‚®ì€ ì‹œê°„ëŒ€ì˜ ì˜¨ë„ë¥¼ ì¶œë ¥í•˜ë¼

In [ ]:
# 3ì›”ë‹¬ì˜ ê° ì‹œê°„ëŒ€ë³„ ì˜¨ë„ì˜ í‰ê· ë“¤ ì¤‘ ê°€ì¥ ë†’ì€ ì‹œê°„ëŒ€ì˜ ì˜¨ë„ë¥¼ ì¶œë ¥í•˜ë¼

In [ ]:
# Zone 1 Power Consumption ì»¬ëŸ¼ì˜ valueê°’ì˜ í¬ê¸°ê°€ Zone 2 Power Consumption ì»¬ëŸ¼ì˜ valueê°’ì˜ í¬ê¸°ë³´ë‹¤ í° ë°ì´í„°ë“¤ì˜ Humidityì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼
result = df[df['Zone 1 Power Consumption'] > df['Zone 2  Power Consumption']].Humidity.mean()
print(result)

68.23624448055052

In [ ]:
# ê° zoneì˜ ì—ë„ˆì§€ ì†Œë¹„ëŸ‰ì˜ ìƒê´€ê´€ê³„ë¥¼ êµ¬í•´ì„œ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œê¸°í•˜ë¼
df[['Zone 1 Power Consumption','Zone 2  Power Consumption','Zone 3  Power Consumption']].corr()

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

In [ ]:
# Temperatureì˜ ê°’ì´ 10ë¯¸ë§Œì˜ ê²½ìš° A, 10ì´ìƒ 20ë¯¸ë§Œì˜ ê²½ìš° B,20ì´ìƒ 30ë¯¸ë§Œì˜ ê²½ìš° C, ê·¸ ì™¸ì˜ ê²½ìš° Dë¼ê³  í• ë•Œ ê° ë‹¨ê³„ì˜ ë°ì´í„° ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

In [ ]:
# 6ì›” ë°ì´í„°ì¤‘ 12ì‹œì˜ Temperatureì˜ í‘œì¤€í¸ì°¨ë¥¼ êµ¬í•˜ì—¬ë¼

In [ ]:
# 6ì›” ë°ì´í„°ì¤‘ 12ì‹œì˜ Temperatureì˜ ë¶„ì‚°ì„ êµ¬í•˜ì—¬ë¼

In [ ]:
# Temperatureì˜ í‰ê· ì´ìƒì˜ Temperatureì˜ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë¥¼ Temperatureë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬ í–ˆì„ë•Œ 4ë²ˆì§¸ í–‰ì˜ Humidity ê°’ì€?
result = df[df['Temperature'] > df['Temperature'].mean()].sort_values('Temperature')['Humidity'].values[3]
print(result)

87.9

#### ê¸°ì˜¨ ê°•ìˆ˜ëŸ‰ ë°ì´í„°

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv")
df.head()

                  time  ì´í™”ë™ê°•ìˆ˜  ì´í™”ë™ê¸°ì˜¨  ìˆ˜ì˜ë™ê°•ìˆ˜  ìˆ˜ì˜ë™ê¸°ì˜¨
0  2020-01-01 00:00:00    0.1   -3.9    0.0    2.5
1  2020-01-01 01:00:00    0.0   -3.1    0.0    3.4
2  2020-01-01 02:00:00    0.0   -1.8    0.0    3.8
3  2020-01-01 03:00:00    0.0   -0.8    0.0    4.6
4  2020-01-01 04:00:00    0.0   -0.1    0.0    5.1

In [ ]:
# ì´í™”ë™ê³¼ ìˆ˜ì˜ë™ì˜ ìµœëŒ€ê°•ìˆ˜ëŸ‰ì˜ ì‹œê°„ëŒ€ë¥¼ ê°ê° êµ¬í•˜ì—¬ë¼
df[df['ì´í™”ë™ê°•ìˆ˜'] == df['ì´í™”ë™ê°•ìˆ˜'].max()]['time'].values

array(['2020-09-30 09:00:00'], dtype=object)

In [ ]:
q3 = df['ì´í™”ë™ê¸°ì˜¨'].quantile(0.75)
q1 = df['ì´í™”ë™ê¸°ì˜¨'].quantile(0.25)
iqr = q3 - q1
low = q1 - 1.5*iqr
high = q3 + 1.5*iqr
df[(df['ì´í™”ë™ê¸°ì˜¨']<low) | (df['ì´í™”ë™ê¸°ì˜¨']>high)]

                     time  ì´í™”ë™ê°•ìˆ˜  ì´í™”ë™ê¸°ì˜¨  ìˆ˜ì˜ë™ê°•ìˆ˜      ìˆ˜ì˜ë™ê¸°ì˜¨
1970  2020-03-23 02:00:00   -1.0  -50.0   -1.0 -50.000000
2447  2020-04-11 23:00:00   -1.0  -50.0   -1.0 -50.000000
3272  2020-05-16 08:00:00   -1.0  -50.0    0.0  17.799999